@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(/css/main.css);
:root {
  --main-bg-color: #e8f2fd;
  --font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
}

.bg-primary-main {
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
}

p {
  color: #686868;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control {
  box-shadow: none !important;
}
